* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.signup-container {
  height: 100vh;
  background: linear-gradient(135deg, #2e7d32, #fbc02d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 950px;
  height: 540px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* LEFT */
.signup-left {
  flex: 1;
  background: linear-gradient(160deg, #e8f5e9, #fffde7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.logo {
  width: 160px;
  margin-bottom: 20px;
}

.signup-left h2 {
  color: #2e7d32;
}

.signup-left p {
  color: #555;
}


/* RIGHT */
.signup-right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-right h3 {
  color: #2e7d32;
  font-size: 26px;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
}

.signup-right input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.signup-right input:focus {
  outline: none;
  border-color: #2e7d32;
  box-shadow: 0 0 0 2px rgba(46, 125, 50, 0.15);
}

.signup-right button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #2e7d32, #66bb6a);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.signup-right button:hover {
  box-shadow: 0 10px 20px rgba(46, 125, 50, 0.3);
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #2e7d32;
  font-weight: 600;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
